/build
/build/AI3v13
*.pkg
/build
*.zip
build/AI3v13/AI3v13.exe
build/AI3v13/AI3v13.pkg
build/AI3v13/Analysis-00.toc
build/AI3v13/base_library.zip
build/AI3v13/COLLECT-00.toc
build/AI3v13/EXE-00.toc
build/AI3v13/PKG-00.toc
build/AI3v13/PYZ-00.pyz
build/AI3v13/PYZ-00.toc
build/AI3v13/Tree-00.toc
build/AI3v13/Tree-01.toc
build/AI3v13/Tree-02.toc
build/AI3v13/warn-AI3v13.txt
build/AI3v13/xref-AI3v13.html
